/**
 * @file
 * CSS Grid Layout styles for checkboxes.
 */

.field--widget-options-grid[data-grid-size] .form-checkboxes {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  place-content: stretch;
  place-items: stretch;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

@media screen and (min-width: 40em) {
  .field--widget-options-grid[data-grid-size] .form-checkboxes {
    grid-template-columns: 1fr 1fr;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
  }
}

@media screen and (min-width: 60em) {
  .field--widget-options-grid[data-grid-size] .form-checkboxes {
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .field--widget-options-grid[data-grid-size="3"] .form-checkboxes,
  .field--widget-options-grid[data-grid-size="5"] .form-checkboxes,
  .field--widget-options-grid[data-grid-size="7"] .form-checkboxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 80em) {
  .field--widget-options-grid[data-grid-size="4"] .form-checkboxes {
    grid-template-columns: repeat(4, 1fr);
  }

  .field--widget-options-grid[data-grid-size="5"] .form-checkboxes {
    grid-template-columns: repeat(5, 1fr);
  }

  .field--widget-options-grid[data-grid-size="6"] .form-checkboxes {
    grid-template-columns: repeat(6, 1fr);
  }

  .field--widget-options-grid[data-grid-size="7"] .form-checkboxes {
    grid-template-columns: repeat(6, 1fr);
  }

  .field--widget-options-grid[data-grid-size="8"] .form-checkboxes {
    grid-template-columns: repeat(8, 1fr);
  }
}
