/**
 * @file
 * CSS Multi-column Layout styles for checkboxes.
 */

.field--widget-options-grid[data-columns-size] .form-checkboxes {
  break-inside: avoid;
  page-break-inside: avoid;
  columns: 1;
  column-fill: auto;
  column-gap: 0.5rem;
}

@media screen and (min-width: 40em) {
  .field--widget-options-grid[data-columns-size] .form-checkboxes {
    columns: 2;
    column-gap: 0.75rem;
  }
}

@media screen and (min-width: 60em) {
  .field--widget-options-grid[data-columns-size] .form-checkboxes {
    column-gap: 1rem;
  }

  .field--widget-options-grid[data-columns-size="3"] .form-checkboxes,
  .field--widget-options-grid[data-columns-size="5"] .form-checkboxes,
  .field--widget-options-grid[data-columns-size="7"] .form-checkboxes {
    columns: 3;
  }
}

@media screen and (min-width: 80em) {
  .field--widget-options-grid[data-columns-size="4"] .form-checkboxes {
    columns: 4;
  }

  .field--widget-options-grid[data-columns-size="5"] .form-checkboxes {
    columns: 5;
  }

  .field--widget-options-grid[data-columns-size="6"] .form-checkboxes {
    columns: 6;
  }

  .field--widget-options-grid[data-columns-size="7"] .form-checkboxes {
    columns: 7;
  }

  .field--widget-options-grid[data-columns-size="8"] .form-checkboxes {
    columns: 8;
  }
}
