/**
 * @file
 * CSS Flexible Box Layout styles for checkboxes.
 */

.field--widget-options-grid[data-flex-size] .form-checkboxes {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: stretch;
  justify-content: flex-start;
  justify-items: stretch;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

@media screen and (min-width: 40em) {
  .field--widget-options-grid[data-flex-size] .form-checkboxes {
    column-gap: 0.75rem;
    row-gap: 0.75rem;
  }
}

@media screen and (min-width: 60em) {
  .field--widget-options-grid[data-flex-size] .form-checkboxes {
    column-gap: 1rem;
    row-gap: 1rem;
  }
}
